# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# added
.env
package copy.json
Modal V1.jsx
Settings V1.jsx
CabinRow V1.jsx
CabinTable V1.jsx
CabinTable V2.jsx
CreateCabinForm V1.jsx
Settings V1.jsx


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
